body,
html {
  overflow-x: hidden;
  overflow-y:hidden;
  margin: 0;
  padding: 0;
  background-image: url("https://wallpaperaccess.com/full/1579818.jpg");
  scroll-behavior: smooth;
}

#app-container {
  max-width: 100%;
  overflow-x: hidden;
}