body,
html {
  overflow-x: hidden;
  overflow-y:hidden;
  margin: 0;
  padding: 0;
  background-color:#101418;
  scroll-behavior: smooth;
}

#app-container {
  max-width: 100%;
  overflow-x: hidden;
}