@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.articleheader {
	font-size: 100px;
	width: 100%;
	display: flex;
    position:relative;
	align-items: end;
	justify-content: center;
	mix-blend-mode: screen;
	
	span {
		--color: #e4447c;
		font-family: Impact, 'Anton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-weight: 700;
		font-style: italic;
		display: block;
		position: absolute;
        margin-left:-400px;
		color: var(--color);
        box-shadow:"0 6px 20px rgba(0, 0, 0, 1)";

		&::before, &::after {
			content: attr(data-text);
			display: block;
			position: relative;
			padding: 10px;
			z-index: 1;
		}

		&::before {
			position: absolute;
			-webkit-text-stroke: 20px #121212;
			z-index: 0;
		}

		&:first-child {
			transform: translate(-50px, -50px);
		}

		&:last-child {
			--color: #12b1bf;
			transform: translate(70px, 70px);
            z-index: 2;
		}
	}
}

.formContainer {
    background-color: #240056;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
        color: #2E003E;
        font-size: 15px;
        font-weight: bold;
    }

    .title {
        color: #2E003E;
        font-size: 12px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            padding: 15px;
            border: none;
            width: 250px;
            border-bottom: 1px solid #a7bcff;

            &::placeholder {
                color: rgb(175, 175, 175);
            }
        }

        button {
            background-color: #2E003E;
            color: white;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        label {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #5d5b8d;
            font-size: 12px;
            cursor: pointer;
        }
    }

    p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 12px;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
}

.image-responsive {
    width: 200px;
    height: 281.235px;
}

@media (max-width: 599px) {
    .image-responsive {
        width: 100px;
        height: 140.618px;
    }
}

@media (max-width: 1300px) {
    .mobile-hidden {
        display: none;
    }
}